
/* Animaciones Index */

.parrafo.animate__animated.animate__fadeInRight{
	--animate-duration: 0.5s;
}
.parrafo2.animate__animated.animate__fadeInRight{
	--animate-duration: 1s;
}
.parrafo3.animate__animated.animate__fadeInRight{
	--animate-duration: 1.5s;
}
.parrafo4.animate__animated.animate__fadeInRight{
	--animate-duration: 2s;
}
.parrafo5.animate__animated.animate__fadeInRight{
	--animate-duration: 2.5s;
}
.imageindex.animate__animated.animate__fadeIn{
	--animate-duration: 3s;
}

/*----------------------------------------------------*/

/* Animaciones productos */

.cardProduct.animate__animated.animate__fadeIn{
    --animate-duration: 2s;
}