/*Footer redes*/

footer {
	background-color: #138D75;
	width: 100%;
	padding: 15px;
}
.redes {
	list-style-type: none;
	margin-top: 16px;
	padding: 20px;
	text-align: center;
	li {
		display: inline-block;
		text-align: center;
		margin: 0.7rem;
		padding: 0.7rem;
		a {
			text-decoration: none;
			color: blanchedalmond;
			&:hover {
				color: black;
				opacity: 50%;
			}
		}
	}
}

/*Derechos*/

.derechos{
	text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: small;
    font-family: 'Roboto', sans-serif;
} 