nav {
	display: flex;
	align-items: center;
}
.logo {
	width: 130px;
	padding: 5px;
	margin-left: 45px;
}
.menu {
	list-style-type: none;
	padding-right: 45px;
	text-align: end;
	width: 100%;
	li {
		display: inline-block;
		margin: 0.7rem;
		padding: 0.7rem;
		font-size: larger;
		text-align: center;
		a {
			color: blanchedalmond;
			text-decoration: none;
			display: inline-block;
			&:hover {
				color: $color_gris;
			}
		}
	}
}