
.mainrecetas{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.imgflex{
    max-width: 100%;
    height: auto;
}
.receta1{ 
	margin: 30px 30px 30px;
    max-width: 900px;
    padding: auto;
}
.receta2{
	margin: 30px 30px 30px;
    max-width: 900px;
    padding: auto;
}
.receta3{
	margin: 30px 30px 30px;
    max-width: 900px;
    padding: auto;
}