/* variables */

$color_negro: black;
$color_gris: grey;
$boxshadow1: 0 2px 2px rgba(0, 0, 0, 0.2); 
$boxshadow2: 0 12px 16px rgba(0, 0, 0, 0.2);

/* Imports */

@import "fotos";
@import "menu";
@import "recetas";  
@import "formulario";
@import "footer";
@import "productos";
@import "animaciones";

/*SASS II (extend)*/



.textcard{
	font-family: 'Roboto', sans-serif;
	color: black
}

.mixtext{
	@extend .textcard;
	font-size: medium;
}


/* Cuerpo */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-fluid{
	flex-direction: row-reverse;
	margin: 0 35px 0 35px;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #EEEEEE;
}

.conteiner{
	background-color: #ffffff;
	margin-top: 40px;
	margin: 0 40px 0 40px;
}

.mainIndex{
	padding: 30px 30px 30px 30px;
}
.navbar{
	background-color: #45B39D;

}
/*Titulo*/

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.titulo{
	padding: 10px;
}
/* section1 */

.section1{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.imageindex{
    grid-column: 1/2;
	grid-row: 1/5;
    padding: 0.5rem;
    width: 100%;
    min-width: 30%;
}

.parrafo{
    grid-column: 2/3;
    line-height: 1.6;   
    padding: 5px;

}

.parrafo2{
    grid-column: 2/3;
    line-height: 1.6;   
    padding: 5px;
}

p{
	grid-column: 2/3;
    line-height: 1.6;   
    padding: 5px;
	font-size: large;
}

/* Cards */

.imgtex {
	display: flex;
	width: 100%;
	max-width: 1200px;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	.card {
		background-color: #ffffff;
		width: 330px;
		height: 430px;
		border-radius: 8px;
		box-shadow: $boxshadow1;
		overflow: hidden;
		margin: 20px;
		text-align: center;
		transition: all 0.25s;
		&:hover {
			transform: translateY(-15px);
			box-shadow: $boxshadow2;
		}
		img {
			width: 330px;
			height: 220px;
		}
		h4 {
			font-weight: 600;
			padding: 1rem;
		}
		p {
			padding: 1rem;
			font-size: 16px;
			font-weight: 300;
		}
		a {
			font-weight: 500;
			text-decoration: none;
			color: #3498;
		}
	}
}


@media only screen and (max-width: 1023px)
	{
	.section1 {
		grid-template-columns: 1fr;
	}
	.imageindex {
		grid-column: 1/2;
	}
	.parrafo {
		grid-column: 1/2;
	}
	.parrafo2{
		grid-column: 1/2;
	}
	.parrafo3{
		grid-column: 1/2;
	}
	.parrafo4{
		grid-column: 1/2;
	}
	.parrafo5{
		grid-column: 1/2;
	}
	.palta {
		grid-column: 1/2;
	}
}



